body {
    margin: 0;
    background:lightgray;
    width: 100%;
    height: 100vh;
}



.head {
    background: gray;
    width: 100%;
    height: 20vh;
    
}



.main {
    margin: 0 auto;
    background:white;
    width: 75%;
    height: 70vh;
    
    
    
}


.footer{
    margin: 0 auto;
    background: rgb(34, 34, 34);
    width: 75%;
    height: 10vh;

}